/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main{
        margin-inline: auto;
        /* max-width: 600px; */
        max-width: 100vw;
        /* padding-inline: 70px; */
    }
    nav {

        /* border: 3px solid rgb(0, 255, 0); */
        margin-inline: auto;
        /* max-width: 600px; */
        max-width: 100vw;
        
        /* padding-inline: 70px; */
    }

    .item1{
      display: none;
    }

    .heading1{
        font-size: 3rem;
        font-weight: bolder;
    }


    .section>img{
        align-self: center;
        height: 30vh;
        width: 75vw;
        border-radius: 10px;
        order: -1;
    }
    .section{
        flex-direction: column;
        justify-content: space-between;
    }

    .text>p{
        font-size: 1rem;
        margin: 10px;
        text-align: center;
        font-weight: bold;
        
    }
    .text>h1{
        font-size: 3rem;
    }
    .consultation{
        display: flex;
        justify-content: center;
        
    }

    .text>hr{
    
        width: 75vw;
        
    }
    .investAndDevelop{
        margin: 15px;
        flex-direction: column;
        align-items: center;
    }
    .icon{
    transform: rotateZ(90deg);
    
    }

    .info>h1{
        font-size: 3rem;
        /* text-align:start; */
        /* word-spacing: 10px; */
        line-height: 80px;
    }
    .info>p{
        font-weight: bold;
    }

    
    

    .info>hr{
        width: 75vw;
        
    }

    .images{
        grid-template-areas: "one ""two" "three" "four"; 
        gap: 20px;
        justify-content: space-evenly;
        
    }

    .box>img{

        margin-bottom: 2px;
    }

    .right-buttom{
        
        grid-area:one;

        
    }

    .center{

        grid-area: two;
    
    }
    .left-top{
        grid-area: three;
    
    }
    
    .left-buttom{
        grid-area: four;
    }

    .center>img{
        height: 300px;
        width: 300px;
        border-radius: 10px;
        
    }

    .quicklinks{
        font-size: 0.8rem
    }

    
    
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .main{
        margin-inline: auto;
        /* max-width: 600px; */
        max-width: 100vw;
        /* padding-inline: 70px; */
    }
    nav {

        /* border: 3px solid rgb(0, 255, 0); */
        margin-inline: auto;
        /* max-width: 600px; */
        max-width: 100vw;
        
        /* padding-inline: 70px; */
    }
    .heading1{
        font-size: 3rem;
        font-weight: bolder;
    }

    .item1{
        margin-left: 20px;
        /* flex-wrap: wrap; */
    }

    ul>li{
        margin: 10px;
        list-style: none;
        font-size: .6rem;
        font-weight: bolder;
        
        
    }


    .section>img{
        align-self: center;
        height: 30vh;
        width: 75vw;
        border-radius: 10px;
        order: -1;
    }
    .section{
        flex-direction: column;
        justify-content: space-between;
    }

    .text>p{
        font-size: 1.3rem;
        text-align: center;
        margin: 10px;
        font-weight: bold;
        
    }
    .text>h1{
        font-size: 3rem;
    }
    .consultation{
        display: flex;
        justify-content: center;
        
    }

    .text>hr{
    
        width: 75vw;
        
    }
    .investAndDevelop{
        margin: 15px;
        flex-direction: column;
        align-items: center;
    }
    .icon{
    transform: rotateZ(90deg);
    
    }

    .info>h1{
        font-size: 3rem;
        /* text-align:start; */
        /* word-spacing: 10px; */
        line-height: 80px;
    }
    .info>p{
        font-weight: bold;
    }

    
    

    .info>hr{
        width: 75vw;
        
    }

    .images{
        grid-template-areas: "one ""two" "three" "four"; 
        gap: 20px;
        justify-content: space-evenly;
        
    }

    .box>img{

        margin-bottom: 5px;
        width: 80vw;
    }

    .center>img{
        height: 292px;
        width: 80vw;
        border-radius: 10px;
        
    }

    .right-buttom{
        
        grid-area:one;

        
    }

    .center{

        grid-area: two;
    
    }
    .left-top{
        grid-area: three;

    }
    
    .left-buttom{
        grid-area: four;
    }



    .quicklinks{
        font-size: 0.9rem
    }



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main{
        margin-inline: auto;
        /* max-width: 600px; */
        max-width: 100vw;
        /* padding-inline: 70px; */
    }
    nav {

        /* border: 3px solid rgb(0, 255, 0); */
        margin-inline: auto;
        /* max-width: 600px; */
        max-width: 100vw;
        
        /* padding-inline: 70px; */
    }
    .heading1{
        font-size: 3rem;
        font-weight: bolder;
    }

    .item1{
        margin-left: 30px;
        /* flex-wrap: wrap; */
    }

    ul>li{
        margin: 15px;
        list-style: none;
        font-size: .8rem;
        font-weight: bolder;
        
        
    }


    .section>img{
        align-self: center;
        height: 30vh;
        width: 70vw;
        border-radius: 10px;
        order: -1;
    }
    .section{
        flex-direction: column;
        justify-content: space-between;
    }

    .text>p{
        font-size: 1.5rem;
        text-align: center;
        margin: 10px;
        font-weight: bold;
        
    }
    .text>h1{
        font-size: 4rem;
    }
    .consultation{
        display: flex;
        justify-content: center;
        
    }

    .text>hr{
    
        width: 60vw;
        
        
    }
    .investAndDevelop{
        margin: 15px;
        flex-direction: column;
        align-items: center;
    }
    .icon{
    transform: rotateZ(90deg);
    
    }

    .info>h1{
        font-size: 3rem;
        /* text-align:start; */
        /* word-spacing: 10px; */
        line-height: 80px;
    }
    .info>p{
        font-weight: bold;
    }

    
    

    .info>hr{
        width: 70vw;
        
    }

    .images{
        grid-template-areas: "one ""two" "three" "four"; 
        gap: 20px;
        justify-content: space-evenly;
        
    }

    .box>img{

        margin-bottom: 5px;
        width: 70vw;
    }

    .center>img{
        height: 292px;
        width: 70vw;
        border-radius: 10px;
        
    }

    .right-buttom{
        
        grid-area:one;

        
    }

    .center{

        grid-area: two;
    
    }
    .left-top{
        grid-area: three;

    }
    
    .left-buttom{
        grid-area: four;
    }




    .quicklinks>ul>li>a{
        font-size: 1.2rem;
        
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main{
        margin-inline: auto;
        /* max-width: 600px; */
        max-width: 100vw;
        /* padding-inline: 70px; */
    }
    nav {

        /* border: 3px solid rgb(0, 255, 0); */
        margin-inline: auto;
        /* max-width: 600px; */
        max-width: 100vw;
        
        /* padding-inline: 70px; */
    }
    .item1{
        margin-left: 160px;
    }
    ul>li{
        margin: 20px;
        list-style: none;
        font-size: .9rem;
        font-weight: bolder;
        
        
    }
    

    .section>img{
        align-self: center;
        height: 60vh;
        width: 60vw;
        border-radius: 10px;
        order: -1;
    }


    .text>p{
        font-size: 1rem;
        text-align: center;
        margin: 10px;
        font-weight: bold;
        
    }
    .text>h1{
        font-size: 2.5rem;
    }
    .text>hr{
    
        width: 30vw;
        
        
    }

    .box>img{

        margin-bottom: 5px;
        width: 60vw;
    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    


    /* testing */








    nav{
        background-color: black;
        color: white;
        display: flex;
        /* border: 3px solid red; */
        /* max-width: 1180px; */
        height: 100px;
        align-items: center;
        
        
    }
    
    .main{
        /* max-width: 600px; */
        max-width: 100vw;
        margin-inline:auto;
        /* padding-inline: 20px; */
        overflow: hidden;
    }
    
    
    .item1{
        display: flex;
        /* margin-left: 810px; */
        margin-left: 510px;
    }
    
    
    
    ul>li{
        margin: 20px;
        list-style: none;
        font-size: larger;
        font-weight: bolder;
        
        
    }
    
    .heading1{
        font-size: 4rem;
        font-weight: bolder;
    }
    
    .logo{
        margin-left: 50px;
    }
    
    .contact>a{
       
        background-color: white;
        padding: 8px;
        border-radius: 5px;
        text-decoration: none;
        /* color: black; */
    
    
        
    }
    
    
    
    
    
    
    .contact>a:hover{
        border: 2px solid white;
        background-color: black;
        color: white;
        
    }
    
    
    /* 1st landing page or hero page */
    
    .section>img{
        /* height: 580px; */
        height: 76vh;
        /* width: 770px; */
        width: 50vw;
        border-radius: 10px;
        align-self: flex-start;
    }
    
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text>hr{
        border: 1.7px solid black;
        width: 150px;
        border-radius: 30px;
        margin: 30px 30px 30px 0px;
    }
    
    
    
    .section{
        display: flex;
        justify-content: space-between;
        margin: 60px;
    }

    .hero{
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    
    .text>h1{
        font-size: 4rem;
    }
    
    .text>p{
        font-size: 20px;
        margin: 5px;
        
    }
    
    
    
    #meeting{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #meeting>a{
        text-align: center;
    }
    
    
    
    
    .black-button{
        /* border: 5px solid red; */
        margin: 50px 10px 10px 10px;
        /* margin: auto; */
        /* background-color: black; */
       
        /* text-align: center;
        padding: 20px;
        border-radius: 7px; */
    }
    
    .black-button>a{
        text-decoration: none;
        background-color: black;
        padding: 20px;
        color: white;
        font-size: larger;
        font-weight: bolder;
        padding: 20px;
        border-radius: 7px;
        width: 250px;
        text-align: center;
    }
    
    .black-button>a:hover{
        background-color: white;
        color: black;
        border: 2px solid black
    
    
    }
    
    .investAndDevelop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        /* align-items: baseline; */
    }
    
    
    .ad{
        border: 2px solid black;
        border-radius: 5px;
        padding: 20px;
        width: 250px;
        
    }
    
    .ad>h1{
        font-weight: bolder;
    }
    
    .ad>p{
        font-weight: bolder;
    }
    
    /* project Distribution */
    .projectDistribution{
        background-color: gainsboro;
        margin: 0;
        display: flex;
        flex-direction: column;
    
    
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .info>h3{
        text-align: center;
        font-size: 1.5rem;
    }
    
    .info>hr{
        border: 1.7px solid black;
        width: 150px;
        border-radius: 30px;
        margin: 30px auto;
        
        /* margin: 30px 30px 30px 0px; */
    }
    
    .info>h1{
        font-size: 4rem;
        text-align: center;
    }
    
    .info>p{
        text-align: center;
        font-size: 1.2rem;
    }
    
    .info>div{
        margin: 50px auto ;
    }
    
    
    .info,.images{
        margin: 60px;
    }
    
    
    .images>img{
        display: flex;
        text-align: center;
    
    }
    
    
    
    .side>img{
        height: 300px;
        width: 300px;
        border-radius: 10px;
    
    }
    
    .center>img{
        height: 640px;
        width: 600px;
        border-radius: 10px;
        
    }
    
    /* .right-top{
    
    } */
    
    .images{
        display: grid;
        grid-template-areas: "right-top main left-top"
                             "right-buttom main left-buttom";
        gap: 20px;
        
        
    }
    .box>img{
        border: 4px solid black;
    }
    
    
    .right-top{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .right-buttom{
        grid-area:right-buttom ;
        display: flex;
        justify-content: center;
        align-items: center;
    
        
    }
    
    .center{
    
        grid-area: main;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .left-top{
        grid-area: left-top;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .left-buttom{
        grid-area: left-buttom;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    footer{
        background-color: #000000;
        color: white;
        height: 100%;
        display: grid;
        grid-template-areas: "logo  quicklinks "
                            "copywrite quicklinks"
                            "social quicklinks";
                            gap: 20px;
                            
    
    }
    
    
    footer>.logo{
        grid-area: logo;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    
    }
    .copywrite{
        grid-area: copywrite;
        margin: 10px 50px;
        display: inline-flex;
        flex-wrap: nowrap;
    
    }
    
    .copywrite>p>a{
        text-decoration: none;
        color: white;
        
        
        
    
    }
    .quicklinks{
        grid-area: quicklinks;
        display: flex;
        /* flex-direction: row; */
        justify-content: center;
        align-items: start;
    
    }
    
    .quicklinks>ul>li>a{
        text-decoration: none;
        color: white;
    }
    
    .social>ul{
        grid-area: social;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        align-items: start;
        
        /* flex-direction: row; */
        margin-left: 30px;
    }
    
    
    
    
    
    .box>img{
        position: relative;
        display: inline-block;
    
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        transition: all 0.3s ease-in-out;
    }
    
    .box>img::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        transition: opacity 0.3s ease-in-out;
    }
    
    .make-it-fast {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    }
    
    
    
    
    .make-it-fast::after {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    
    
    
    
    .make-it-fast:hover::after {
        opacity: 1;
    }
    
    
    .box>img:hover {
        transform: scale(1.1, 1.1);
        box-shadow: 8px 8px 0px #000000;
    }
    
    
    .box:hover::after {
        opacity: 1;
    }
    
    
    
    
    
    
    
    
    



}


@media only screen and (min-width: 1600px) {

    .item1{
    
        margin-left: 810px;
        /* margin-left: 510px; */
    }

    .section>img{
        /* height: 580px; */
        height: 82vh;
        /* width: 770px; */
        width: 60vw;
        
    }
}