@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}
/* nav bar */

nav{
    background-color: black;
    color: white;
    display: flex;
    /* border: 3px solid red; */
    /* max-width: 1180px; */
    height: 100px;
    align-items: center;
    
    
}

.main{
    /* max-width: 600px; */
    max-width: 100vw;
    margin-inline:auto;
    /* padding-inline: 20px; */
    overflow: hidden;
}


.item1{
    display: flex;
    margin-left: 510px;
}



ul>li{
    margin: 20px;
    list-style: none;
    font-size: larger;
    font-weight: bolder;
    
    
}

.heading1{
    font-size: 4rem;
    font-weight: bolder;
}

.logo{
    margin-left: 50px;
}

.contact>a{
   
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    /* color: black; */
  
   
    
}






.contact>a:hover{
    border: 2px solid white;
    background-color: black;
    color: white;
    
}


/* 1st landing page or hero page */

.section>img{
    height: 550px;
    width: 700px;
    border-radius: 10px;
}

.text>hr{
    border: 1.7px solid black;
    width: 150px;
    border-radius: 30px;
    margin: 30px 30px 30px 0px;
}



.section{
    display: flex;
    justify-content: space-between;
    margin: 60px;
}

.text>h1{
    font-size: 4rem;
}

.text>p{
    font-size: 20px;
    margin: 5px;
    
}



#meeting>a{
    position: relative;
    top: 40px;
    left: 44%;
   

}



.black-button{
    /* border: 5px solid red; */
    margin: 50px 10px 10px 10px;
    /* margin: auto; */
    /* background-color: black; */
   
    /* text-align: center;
    padding: 20px;
    border-radius: 7px; */
}

.black-button>a{
    text-decoration: none;
    background-color: black;
    padding: 20px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    padding: 20px;
    border-radius: 7px;
    width: 250px;
}

.black-button>a:hover{
    background-color: white;
    color: black;
    border: 2px solid black


}

.investAndDevelop{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.roi{
    margin-top: 20px;
}

.ad{
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 250px;
    
}

.ad>h1{
    font-weight: bolder;
}

.ad>p{
    font-weight: bolder;
}

/* project Distribution */
.projectDistribution{
    background-color: gainsboro;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.info>h3{
    text-align: center;
    font-size: 1.5rem;
}

.info>hr{
    border: 1.7px solid black;
    width: 150px;
    border-radius: 30px;
    margin: 30px auto;
    
    /* margin: 30px 30px 30px 0px; */
}

.info>h1{
    font-size: 4rem;
    text-align: center;
}

.info>p{
    text-align: center;
    font-size: 1.2rem;
}

.info>div{
    margin: 50px auto ;
}


.info,.images{
    margin: 60px;
}


.images>img{
    display: flex;
    text-align: center;

}



.side>img{
    height: 300px;
    width: 300px;
    border-radius: 10px;

}

.center>img{
    height: 640px;
    width: 600px;
    border-radius: 10px;
    
}

/* .right-top{

} */

.images{
    display: grid;
    grid-template-areas: "right-top main left-top"
                         "right-buttom main left-buttom";
    gap: 20px;
    
}
.box>img{
    border: 4px solid black;
}





.right-buttom{
    grid-area:right-buttom ;

    
}

.center{

    grid-area: main;

}
.left-top{
    grid-area: left-top;
}

.left-buttom{
    grid-area: left-buttom;
}

footer{
    background-color: #000000;
    color: white;
    height: 100%;
    display: grid;
    grid-template-areas: "logo  quicklinks "
                        "copywrite quicklinks"
                        "social quicklinks";
                        gap: 20px;
                        

}


footer>.logo{
    grid-area: logo;

}
.copywrite{
    grid-area: copywrite;
    margin: 10px 50px;

}

.copywrite>p>a{
    text-decoration: none;
    color: white;
}
.quicklinks{
    grid-area: quicklinks;
}

.quicklinks>ul>li>a{
    text-decoration: none;
    color: white;
}

.social>ul{
    grid-area: social;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}





.box>img{
    position: relative;
    display: inline-block;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

.box>img::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.make-it-fast {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}




.make-it-fast::after {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}




.make-it-fast:hover::after {
    opacity: 1;
}


.box>img:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 8px 8px 0px #000000;
}


.box:hover::after {
    opacity: 1;
}






