@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;600;700&family=Roboto:wght@300;400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Kanit', sans-serif;
}
/* utility class */

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.margin-10px{
    margin: 10px;
}

.margin-auto{
    margin: auto;
}

.list{

    list-style: none;
}

.btn{
    border: 2px solid #6d7d7d;
    padding: 5px 30px;
    background-color: transparent;
    color: white;
    border-radius: 40px;
    letter-spacing: 5px;
    
}

.btn:hover{
    cursor: pointer;
}



.main-container{
    width: 100vw;

    height: 100vh;
    overflow-x:hidden;
}


.content-title-head-text h4{
    color: rgba(109, 125, 125, 1);
    letter-spacing: 5px;
    font-weight: lighter;
}

.content-title-head-text h3{
    font-size: 2rem;
    font-weight: 300;
    color: white;
}
.content-title-head-text p{
    font-weight: lighter;
}





/* Navigation */
.hero-container{
    background-image: url("assets/BG.png");
    height: 100vh;
    width: 100vw;
    /* border: 1px solid red; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: border-box;
    /* overflow: hidden; */
}

.nav-container{
    /* border: 1px solid red; */
    justify-content: space-around;
    gap: 2rem;
    padding: 20px;

}

.nav-logo img:hover{
    cursor: pointer;
}

.nav-text{
    /* justify-content: space-evenly; */
    gap: 5rem;
}
.nav-text i{
    display: none;
}

.nav-menu{
    /* border: 1px solid red; */
    gap: 4rem;
    
}

.nav-menu li a{
    color: white;
    text-decoration: none;
}

.get-started{
    border: 2px solid rgba(109, 125, 125, 1);
    padding: 5px 30px;
    background-color: transparent;
    color: white;
    border-radius: 40px;
    letter-spacing: 5px;

}

.hero-section-text{
    height: 90vh;
    /* border: 2px solid red; */
    color: white;
    gap: 15rem;
}

.left-box{
    position: relative;
    top: 10rem;
    left: -15rem;
    transform: rotateZ(270deg);
    letter-spacing: 5px;
    

}

.left-box a{
    text-decoration: none;
    color: white;
}
.left-box h4{
    font-size: 1rem;
    font-weight: lighter;
}

.right-box{
    flex-direction: column;
    /* border: 2px solid red; */
    /* justify-content: flex-start; */
    align-items: flex-start;
    gap: 0.8rem;
}

.right-box h3{
    font-size: 2rem;
    font-weight: 300;
}

.right-box p{
    font-size: 1.1rem;
}

.right-box img{
    /* border: 2px solid red; */
    /* margin-top: 8px; */
    width: 60px;
    height: 60px;
}

.right-box img:hover{
    cursor: pointer;
}





/* about section */
.about-section{
    /* border: 2px solid red; */
    height: 120vh;
    width: 100vw;
    color: white;
    position: relative;

    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;

    
    

    
    /* background-image: url("/BG2.png"); */
    background-color: #191d1d;

}

.about-content{
    display: flex;
    flex-direction: column;
    /* justify-self: flex-start; */
    gap: 1rem;
    /* border: 2px solid red; */
    
    width: 80vw;

}

.img-stat{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    /* border: 2px solid blue; */
    /* height: 442px; */
    height: 100%;
    width: 100%;
    
}
.img-stat-left-box{
    width: 45%;
    height: 100%;
    
    /* align-items: flex-start; */
    /* justify-content: space-evenly; */
    align-items: flex-end;
    /* gap: 30px; */
    /* border: 2px solid red; */
}

.img-stat-left-first-img{
/* border: 2px solid red; */
width: 50%;
/* height: 100%; */
}
.img-stat-left-second-img{
    /* border: 2px solid yellow; */
    width: 50%;
    /* height: 100%; */
}

/*  */
.img-stat-right-box{
    /* border: 1px solid green; */
    /* width: 43vw; */
    width: 55%;
    height:100%;
    display: flex;
    flex-direction: column;
}

/*  */
.img-stat-right-top-box{
    /* border: 1px solid green; */
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/*  */
.img-stat-right-top-box img{
    height: 100%;
}

.learn-about{
    align-self: flex-end;

}




/*  */
.img-stat-right-bottom-box{
    /* border: 1px solid blue; */
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*  */
.img-stat-right-bottom-box .projects-done h2,.pro-teams h2,.global-clients h2{
    /* border: 2px solid red; */
    color: rgba(109, 125, 125, 1);
    font-weight: 400;
    font-size: 2rem;
}

/*  */
.img-stat-right-bottom-box .projects-done p,.pro-teams p,.global-clients p{
    letter-spacing: 5px;
    text-transform: capitalize;
}

/* Hire-us Section */

.hire-section{
    /* border: 2px solid red; */
    width: 100vw;
    /* height: 318px; */
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hire-content{
    /* border: 2px solid red; */
    position: absolute;
    bottom: -100px;
    left: 9.5rem;
    
    width:80vw;
    border-radius: 50px 50px 0px 50px;
    background: #212828;
    display: flex;
    align-items: center;
    /* justify-content:space-around; */
    justify-content:center;
    gap:12.2rem;
    color: white;
    /* padding-right: rem; */
}

.hire-content img{
    /* width: 300px; */
    width: 24%;
    height: 232px;
    /* border: 2px solid red; */
    border-radius: 50px 0px 0px 50px;
}

.hire-content-right-content h1{
    font-size: 2rem;
    font-weight: 400;
}
.hire-content-right-content{
    /* border: 2px solid red; */
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hire-us{
    width: 10rem;
    text-align: center;
    text-transform: capitalize;
}

/* team section */
.team-section{
    width: 100vw;
    background-image: url("assets/BG2.png");
    /* border: 2px solid red; */
    height: 130vh;
    padding-top: 5rem;

}
.team-content{
    /* border: 2px solid green; */
    height: 130vh;
    width: 80vw;
    flex-direction: column;
    

}

.team-content-text-img{
    /* border: 2px solid blue; */
    height: 70%;
    width: 100%;
    /* justify-content: flex-start; */
    align-items: flex-start;

    
}


.team-content-logo{
    /* border: 2px solid red; */
    height: 20%;
    width: 100%;
}

.team-content-left-box{
    /* border: 2px solid red; */
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    /* gap:10rem; */
    /* align-items: flex-start; */

}

.team-content-left-up-box{
    /* border: 2px solid blue; */
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: flex-start;
    
    color: white;
    gap: 1rem;
}



.team-content-left-down-box{
    /* border: 2px solid green; */
    width: 100%;
    height: 50%;
    /* flex-direction: column; */
    justify-content: flex-start;
    
    /* align-items: flex-start; */
}

.team-content-left-down-box img{
    width: 20px;
    width: 300px;
    height: 100px;
    /* border: 2px solid red; */

}

.team-content-right-box{
    /* border: 2px solid red; */
    width: 50%;
    height: 100%;
    flex-direction: column;
    /* gap: 1rem; */
}

.team-content-right-up-box{
    /* border: 2px solid blue; */
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}


.team-content-right-down-box{
    /* border: 2px solid green; */
    height: 50%;
    width: 100%;
    justify-content:space-evenly;
    
    
}

.team-content-right-down-box img{
    align-self:flex-start ;
}

.learn-more-button-container{
    /* border: 2px solid red; */
    width: 274px;
}


/* Services section */
.service-section{
    background-color: #191d1d;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    /* height: 100%; */
    /* padding-top: rem; */
    /* border: 2px solid red; */
}

.service-content{
    width: 100vw;
    /* height: 101vh; */
    height: 100%;
    /* border: 2px solid green; */
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    /* padding-top: 1rem; */
}

.service-content-up{
    width: 80vw;
    /* height: 50vh; */
    /* height: 50%; */
    height: 65%;
    /* border: 2px solid red; */
    flex-direction: column;
}




.service-content-up-first{
    /* border: 2px solid green; */
    width: 100%;
    height: 33%;
    justify-content: space-between;
    color: white;
}

.service-content-up-first h3{
    font-size: 3rem;
    font-weight: 400;
}

.service-content-up-first p{
    color: #6D7D7D;
    /* font-size: 1rem; */
}

.service-content-up-first-right{
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}





.service-content-up-second{
    /* border: 2px solid blue; */
    width: 100%;
    height: 33%;
    justify-content: space-between;
    color: white;
}
.service-content-up-second h3{
    font-size: 3rem;
    font-weight: 400;
}

.service-content-up-second p{
    color: #6D7D7D;
    
}
.service-content-up-second-right{
    height: 100%;
    /* border: 2px solid red; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}




.service-content-up-third{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 33%;
    justify-content: space-between;
    color: white;
}

.service-content-up-third h3{
    font-size: 3rem;
    font-weight: 400;
}
.service-content-up-third p{
    color: #6D7D7D;
}
.service-content-up-third-right{
    /* border: 2px solid red; */
    height: 100%;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;

}

.service-content-up img{
    width: 100%;
}

.service-content-up-first-right img{
    cursor: pointer;

    width: 10rem;
}
.service-content-up-second-right img{
    cursor: pointer;
    width: 10rem;
}
.service-content-up-third-right img{
    cursor: pointer;
    width: 10rem;
}


.service-content-bottom{
    justify-self: flex-end;
    /* border:1px solid blue; */
    width: 100vw;
    /* height: 40vh; */
    /* height: 50%; */
    height: 35%;
    align-items: flex-end;
}
.service-content-bottom img{
    width: 100vw;
    /* height: 40vh; */
    height: 98%;
    /* border: 2px solid red; */
}


/* blog section */
.blog-section{
    /* border: 2px solid red; */
    background-color: #191d1d;
    width: 100vw;
    height: 100vh;
}

.blog-content{
    /* border: 2px solid blue; */
    width: 80vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;

}
.blog-content img{
    width: 100%;
}


.blog-content-article{
    /* border:2px solid green; */
    width: 100%;
    height: 48%;
    justify-content: space-evenly;
}


/* article left */
.blog-content-article-left {
    /* border: 2px solid red; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}

.blog-content-article-left .learn-more-button{
    width: 10rem;
    cursor: pointer;
}

.blog-content-article-left .article-img{
    width: 20rem;
}
.blog-content-article-left p{
    color:rgba(109, 125, 125, 1) ;
    font-size: 1rem;
}



/* article center */
.blog-content-article-center {
    /* border: 2px solid red; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}

.blog-content-article-center .learn-more-button{
    width: 10rem;
    cursor: pointer;
}

.blog-content-article-center .article-img{
    width: 20rem;
}
.blog-content-article-center p{
    color:rgba(109, 125, 125, 1) ;
    font-size: 1rem;
}

/* article right */
.blog-content-article-right {
    /* border: 2px solid red; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}
.blog-content-article-right .learn-more-button{
    width: 10rem;
    cursor: pointer;
}

.blog-content-article-right .article-img{
    width: 20rem;
}
.blog-content-article-right p{
    color:rgba(109, 125, 125, 1) ;
    font-size: 1rem;
}


/* newsletter */
.blog-content-newsletter{
    /* border:2px solid red; */
    width: 100%;
    height: 20%;
    justify-content: space-between;

}

.blog-content-newsletter-right{
    height: 100%;
    width: 40%;
    /* border: 2px solid red; */
    justify-content: flex-start;
}

.blog-content-newsletter-left{
    /* border: 2px solid blue; */
    height: 100%;
    width: 60%;
    justify-content: space-between;
}

.blog-content-mail{
    /* border: 2px solid red; */
    width: 70%;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    justify-content: space-between;
}
.subscribe{
    width: 25%;
    /* border: 2px solid red; */
}

.blog-content-mail-para p{
    font-size: 1rem;
    color: white;
    /* border: 1px solid blue; */
    width: 85%;
    
}
.blog-content-mail-para{
    /* border: 2px solid red; */
    width: 100%;
}


/* Footer section */
.footer-section{
    /* border: 2px solid red; */
    background-image: url("assets/BG2.png");
    height: 100vh;
    width: 100vw;
}

.footer-content{
    /* border: 2px solid blue; */
    width: 80vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: white; */
}

.footer-content .line1{
    /* border: 2px solid red; */
    width: 100%;
}

.footer-content-top{
    /* border: 2px solid red; */
    width: 100%;
    height: 40%;
    justify-content: space-between;
}

.footer-content-top-logo{
    width: 30%;
    height: 100%;
    /* border: 2px solid green; */
    justify-content: end;

}

.footer-content-nav-menu{
    /* border: 2px solid blue; */
    width: 50%;
}

.footer-content-nav-menu-list{
    /* border: 2px solid green; */
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-nav-menu-list li a{
    text-decoration: none;
    color: white;
}


.footer-content-center{
    /* border: 2px solid red; */
    width: 100%;
    height: 40%;
}

.footer-content-center-left{
    /* border: 2px solid green; */
    width: 50%;
    height: 100%;
    justify-content: space-between;
}


.footer-content-center-left-socials{
    /* border: 2px solid red; */
    height: 100%;
    width: 60%;
    justify-content: space-between;
}

.footer-content-center-left .line4{
    /* border: 2px solid red; */
    width: 40%;
    height: 100%;
    justify-content: flex-end;
}

.footer-content-center-right{
    /* border: 2px solid blue; */
    width: 50%;
    height: 100%;
    color: white;
    
}
.footer-content-center-right p{
    font-size: 1rem;
    color: white;
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    direction: rtl;
    
}






.footer-content-bottom-container{
    /* border: 2px solid red; */
    width: 100vw;
    height: 20%;
    color: white;
    background-color: #191d1d;

}

.footer-content-bottom{
    /* border: 2px solid blue; */
    width: 80vw;
    height: 100%;
    justify-content: space-between;
}

.footer-content-bottom-copywrite{
    /* border: 2px solid red; */
    height: 100%;
    width: 60%;
    justify-content: flex-start;

}
.footer-content-bottom-copywrite p a{
    /* border: 2px solid blue; */
    text-decoration: none;
    color: white;
}

.footer-content-bottom-terms-privacy{
    /* border: 2px solid green; */
    height: 100%;
    width: 40%;
    justify-content: flex-end;
    /* align-items: flex-end; */
}

.footer-content-bottom-terms-privacy h4{
    color: rgba(109, 125, 125, 1);
    letter-spacing: 5px;
    font-weight: 400;
    /* cursor: pointer; */
    /* border: 2px solid red; */
}
.footer-content-bottom-terms{
    /* border: 2px solid red; */
    width: 50%;
    justify-content: flex-end;

}
.footer-content-bottom-privacy{
    /* border: 2px solid blue; */
    width: 50%;
    justify-content: flex-end;
}


